---

---

<div
  class="py-8 gap-8 md:h-[650px] grid grid-cols-1 md:grid-cols-2"
  style={{
    backgroundImage:
      "url(http://unicord.themezinho.net/wp-content/uploads/2018/12/hero01-1-scaled.jpg)",
    opacity: 0.8,
  }}
>
  <div class="flex justify-center items-center px-8">
    <img
      src="http://unicord.themezinho.net/wp-content/uploads/2018/12/office01-1.jpg"
      alt="image"
      title="image"
      class="border-8 border-white"
    />
  </div>

  <div class="flex justify-center items-start text-white flex-col px-8">
    <h1 class="text-3xl font-bold mb-4">New Media Digital Agency</h1>
    <h2 class="md:text-7xl mb-4 text-2xl">INNOVASION</h2>
    <p class="text-xl mb-4">
      Unicord is a creative digital agency, composed of creative designers &
      experienced developers. You’ll have your own individual apartment and
      facilities which are inspired by the luxurious life you want to live.
    </p>
    <div>
      <button
        class="border-white px-8 py-2 hover:bg-white hover:text-black duration-300 transition-transform ease-in-out uppercase border-2"
      >
        Take a look
      </button>
    </div>
  </div>
</div>
